ion-card {
    width: 26em;

}

.testButton {
    color: white;
    background: green;
    padding: 1em;
    font-weight: bold;
    border-radius: 10%;
}

.testButton:hover {
    background: blue;
    color: yellow;
}

.testImage {
    width: 5em;
}